<%- include('./partials/header')%>



<div id="about-info">
    <h1>about page tk</h1>
    <p>
        Welcome to your Music Mosaic. Music lives in many forms and shapes and sounds around us, and collectively, they create your music taste. Record, share, discover.
    </p>
    
</div>

<%- include('./partials/footer')%>