<%- include('./partials/header')%>

<h1>about page tk</h1>

<div id="about-info">
    <p>
        Welcome to your Music Mosaic. Music lives in many forms and shapes and sounds around us, and collectively, they create your music taste. Record, share, discover.
    </p>
    
</div>

<%- include('./partials/footer')%>