<%- include('./partials/header')%>

  <h1>Welcome to Music Mosaic</h1>

  <div id="welcome-page">
    <p>
      Welcome to your Music Mosaic. Music lives in many forms and shapes and sounds around us, and collectively, they create your music taste. Record, share, discover.
    </p>

  </div>


<%- include('./partials/footer')%>