<%- include('./partials/header')%>

 

<container id="full-welcome-page">
  <div id="welcome-page">
    <h1 class="asar-font">welcome to <br><span id="welcome-header">Music Mosaic</span>

    </h1>
 
    <p>
      Your music mosaic. Music lives in many shapes and sounds around us to collectively create our musical life. Record, share, discover.
    </p>
  </div>
  </container>

<%- include('./partials/footer')%>