 
/* general / oauth  */
* {
  box-sizing: flex;
  font-family: "Asar", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
}

body > nav {
  grid-area: nav;
  background-color:  #1d3979;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  color: white;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #29478d;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* welcome page */
#welcome-page {
  margin: 60px;
  display: grid;
justify-content: center;
 
}

#welcome-header {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

#full-welcome-page {
  background-image: linear-gradient(to top right, #ff414e, #ff8928)}

.monoton-font {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.asar-font {
  font-family: "Asar", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

/* main page of user concerts */
#purple-background {
  background-color: #ffde22;
}

#main-concert-page {
  border-radius: 20%;
  background-image: linear-gradient(to top right, #ff414e, #ff8928);
  display: flex;
  margin: 20px;
  justify-content: center;

}

#concert-headings {
  display: flex;
  justify-content: center;
  table-layout: auto;
  width: 100%;
}

#mosaic-test {
  font-family: "Monoton";
  font-size: 40px;
  justify-content: center;
}

#concert-list {
  display: grid;
  justify-content: center;
  font-family: "Monoton";
  border-radius: 10%;
  margin: 70px;
  table-layout: auto;
  width: 100%;
  font-size: 20px;
}

/* new concert form page */

#new-concert-form {
  width: 100%;
  margin: 30px;
  table-layout: 100px;
  display: grid;
}

#new-form-container {
  background-image: linear-gradient(to top right, #ff414e, #ff8928);
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

#artist-text {
  font-size: 14px;
}

/* concert details page */

#bold-artist {
  font-weight: bold;
  height: 10px;
}

#concert-show-background {
  background-image: radial-gradient(#ff8928,#ff414e);

}

#show-page {
  margin: 100px;
  display: grid;
  justify-content: center;
  height: 50px;
  font-size: 20px;

}

#delete-concert {
  display: flex;
  color: blue;
}

#review-table {
  display: grid;
  justify-content: center;
}

#concert-entry {
  height: 20px;
  background-color: blue;
}

#artist-text {
  background-color: #ffde22;
  opacity: 80%;
}



#show-list {
  display: flex;
  justify-content: center;
}



#add-review-form {
  display: flex;
  justify-content: center;
}







#about-info {
  display: flex;
  flex-direction: row;
}





#new-concert-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  height: 100px;
 
}

#about-info {
  display: flex;
  justify-content: center;
}







