* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
}

body > nav {
  grid-area: nav;
  background-image: linear-gradient(to bottom right, red, yellow);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px 0 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: green;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#show-page {
  display: flex;
  justify-content: center;
}

#show-list {
  display: flex;
  justify-content: center;
}

#concert-list {
  display: grid;
  justify-content: center;

}

#new-concert-form {
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

#add-review-form {
  display: flex;
  justify-content: center;
}

.rating-list li {
  float: right;
  color: #ddd;
  padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
  color: #ffd700;
}

.rating-list {
  display: inline-block;
  list-style: none;
}

#welcome-page {
  background-color: yellow;
}