<%- include('../partials/header')%>
<!-- 
<h2> hello </h2> -->
<br><h2>Review</h2>
<form id="add-review-form" method="POST"
    action="/reviews/<%= reviews.reviews[0].id %>/edit?_method=PUT">
    <label>review:</label>
    <textarea name="content" placeholder="<%= reviews.reviews[0].content%>" ></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
   
    <input type="submit" value="add review">
    </form>

<%- include('../partials/footer')%>