<%- include('../partials/header')%>
<!-- 
<h2> hello </h2> -->
<br><h2>Review</h2>
<form id="add-review-form" method="POST"
    action="/reviews/<%= reviews.reviews[0].id %>/edit?_method=PUT">
    <label>review:</label>
    <textarea name="content" placeholder="<%= reviews.reviews[0].content%>" ></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- <ul class="list-inline rating-list">
      <li><i class="fa fa-star" title="Rate 5"></i></li>
      <li><i class="fa fa-star" title="Rate 4"></i></li>
      <li><i class="fa fa-star" title="Rate 3"></i></li>
      <li><i class="fa fa-star" title="Rate 2"></i></li>
      <li><i class="fa fa-star" title="Rate 1"></i></li>
    </ul> -->
    <input type="submit" value="add review">
    </form>

<%- include('../partials/footer')%>