<%- include('../partials/header') %>
<container id="new-form-container">
<form id="new-concert-form" action="/concerts/" method="POST">
  <label class="form-font">artist:</label>
  <input class="add-blue" name="artist">
  <label class="form-font">tour:</label>
  <input class="add-blue" name="tour">
  <label class="form-font">venue:</label>
  <input class="add-blue" name="venue">
  <label class="form-font">location:</label>
  <input class="add-blue" name="location">
  <label class="form-font">date:</label>
  <input type="date" class="add-blue" name="date">
  <label class="form-font">type:</label>
  <select class="add-blue" name="performance type">
    <option value="Concert">Concert</option>
    <option value="Festival">Festival</option>
    <option value="Speakeasy">Speakeasy</option>
    <option value="DJ">DJ</option>
    <option value="Special Event">Special Event</option>
  </select>
  <input type="submit" class="add-purple" value="Add Concert">
</form>
</container>



<%- include('../partials/footer') %>
