<%- include('../partials/header') %>
<container id="new-form-container">
<form id="new-concert-form" action="/concerts/" method="POST">
  <label>Artist:</label>
  <input id="artist-text" name="artist">
  <label>Tour:</label>
  <input class="text" name="tour">
  <label>Venue:</label>
  <input class="text" name="venue">
  <label>Location:</label>
  <input class="text" name="location">
  <label>Date:</label>
  <input type="date" name="date">
  <label>Performance Type</label>
  <select name="performance type">
    <option value="Concert">Concert</option>
    <option value="Festival">Festival</option>
    <option value="Speakeasy">Speakeasy</option>
    <option value="DJ">DJ</option>
    <option value="Special Event">Special Event</option>
  </select>
  <input type="submit" value="Add Concert">
</form>
</container>



<%- include('../partials/footer') %>
